@import "./variables.css";

.span {
  color: var(--secondary-color);
}

.createImageContainer h1 {
  margin-bottom: 4%;
}

.customSelect {
  margin: auto;
}

.createImageContainer {
  text-align: center;
}

.loadingContainer {
  margin: 4%;
  padding: 2%;
  text-align: center;
}

.pictureCard {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  margin: 1%;
  width: 23%;
  display: inline;
}

.pictureCard p {
  text-align: justify;
  font-size: 0.8rem;
}

.pictureCard img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.img {
  width: 100%;
}

.imageContainer {
  display: flex;
  background-color: #39394c !important;
  border-color: #39394c !important;
  border-radius: 0.5rem;
  color: #fff !important;
  margin: 4% 0% 2% 0%;
  flex-wrap: wrap;
}

.loading {
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .pictureCard {
    width: 31%;
  }
}

@media (max-width: 1000px) {
  .pictureCard {
    width: 48%;
  }
}

@media (max-width: 600px) {
  .pictureCard {
    width: 98%;
  }
}
