@import "./variables.css";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.error {
  background: var(--error-background-color);
  color: var(--error-color);
  display: flex;
  flex-direction: column;
  text-align: initial;
  border: 1px solid #ef8484;
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
  min-width: 600px;
}

.error button {
  width: 10%;
  margin-left: auto;
  width: fit-content;
}
