@import "./variables.css";

.footer {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-bottom: 2px solid;
  border-color: hsla(0, 0%, 100%, 0.06);
  display: flex;
  padding: 0.5% 10%;
  z-index: 10;
  position: relative;
  padding-bottom: 5%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  justify-content: space-around;
}

.list a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.list a {
  transition: color 0.3s ease;
}

.list a:hover,
.list a.active {
  color: var(--secondary-color);
}

.hr {
  border-color: gray;
  border-width: 1px;
  width: 100%;
  margin-bottom: 3%;
}

.span {
  color: var(--secondary-color);
}

.img {
  max-width: 5rem;
}

@media (max-width: 1000px) {
  .list a {
    font-size: 1rem;
  }
}
