@import "./variables.css";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: white;
  font-size: 1.2rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid var(--secondary-color);
}

button:hover,
button:active {
  background-color: var(--primary-color);
  /* cursor: pointer; */
  color: white;
}

hr {
  border-color: gray;
  border-width: 1px;
}

.disabled-button {
  opacity: 0.5; 
  cursor: not-allowed; 
}

.hide {
  display: none;
}