@import "./variables.css";

.h1 {
  font-size: 2rem;
}
.span {
  color: var(--secondary-color);
}

.introContainer {
  display: flex;
  flex-wrap: wrap-reverse;
}

.textContainer {
  padding-left: 5%;
}

.p {
  color: gray;
}

.imageContainer {
  text-align: center;
  margin: 0;
  padding: 0;
  flex: 1;
}

.imageContainer img {
  width: 80%;
  min-width: 10rem;
  max-width: 20rem;
}

@media (max-width: 600px) {
  .imageContainer {
    display: none;
  }
}
