@import "../css/variables.css";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modalContent {
  background-color: #39394c !important;
  border-color: #39394c !important;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modalButtons button {
  margin-left: 10px;
}
