@import "./variables.css";

.container {
  text-align: center;
}

.textContainer {
  text-align: justify;
  padding: 0% 10% 5% 10%;
}

.container h2 {
  color: var(--secondary-color);
}

@media screen and (max-width: 800px) {
  .textContainer {
    padding: 0%;
  }
}