:root {
  /* --primary-color: #242434; */
  --primary-color: rgba(36, 36, 52, 0.5);
  --secondary-color: #e76462;
  --background-color: #1a1a28;
  --error-color: #ef8484;
  --error-background-color: #423b3b;
}
